# This .tool-versions file does not contribute to software installed within this container. 
# To add software to the base image, see the .tool-versions file at 
# https://github.com/launchbynttdata/launch-build-agent-base/blob/main/.tool-versions
